body {
  background: linear-gradient(
    to bottom right,
    #021538,
    #2a5298,
    #000000,
    #ffffff
  );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  border-radius: 12px;
  padding: 50px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px; /* Width of the login box */
  text-align: left;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-label {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

.login-btn {
  background-color: #0b365f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 96%;
  margin-top: 50px;
}

.login-btn:hover {
  background-color: #0056b3;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #111111;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}
